<!DOCTYPE html>   
<html>   
 <head>   
      <title>Jorah Entertainment</title>   
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>   
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>   
      <%= csrf_meta_tags %>  
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
.card-img-top
{
   height:250px;
   width:300px;
}


nav li{
    display: inline-block;
    margin-right: 15px;
    padding: 3px;

}
nav {
    background-color: black;
     
    margin-left: 3px;
    margin-right:3px;
}
.footer{
  background-color: black;
}
.text-white{
  color: white;
}
    </style>

       
 
   </head>   
      
   <body>   
   <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-warning" href="">Category</a>
        
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#action">Action Movies <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" href="#love">Love Story</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#animation">Animation Movies</a>
              </li>
 
          </ul>
         
        </div>
      </nav>

   </header>

   <section class="jumbotron text-center">
      
    <div class="container" >
      <h1 class="jumbotron-heading text-white">Jorah Entertainment</h1>
      <h2 class="text-center text-dark">Rwanda first online Movie store </h2>
      <p class=" text-dark"> Stream, Download, And buy Movie you like Actian, love story, and Animation for kids.</p>
      
    </div>
  </section>

      <div>   
         <%= yield %>   
      </div>  
    

    <footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
  
      <div class="row">
        <div class="col-sm-8 col-md-5 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">Jorah Entetainment is Rwandan entertainment Company located in Nyarugenge Campus  where you can Stream, Download, and buy Different kind of Movie.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email us: jorahentatainmnet@gmail.com</a></li>
          </ul>
        </div>
        <div class="col-sm-8 col-md-2 py-4" >
           <p class="float-right">
      <a href="#">Back to top</a>
    </p>
        </div>
      </div>
    </div>
 
</footer>


   </body>   
</html>  